body {
    font-family: 'Outfit', sans-serif;
}
.contenedor {
    width: 100%;
    height: 100vh;
    background: rgb(230, 230, 250);
    margin: 0;
    padding: 0;
}

.titulo {
   font-size: 45px;
   color: black;
   font-weight: 700;
}
.encabezado {
    width: 100%;
    height: 80px;
    background: rgb(233, 142, 227);
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacion {
    width: 100%;
    height: 900px;
    background: white;
    display: flex;
}

.articulos {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu {
    width: 25%;
    height: 950px;
    background: rgb(228, 110, 228);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.nota {
    width: 40%;
    height: 300px;
    background: beige ;
    margin: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}

.nota:hover {
 background-color: rgb(234, 151, 221);
 color:white;
 cursor: pointer;
}

.btnVinculo {
 display: block;
 text-decoration: none;
 color: black !important;
background: bisque;
border-radius: 5px;
border-color: brown;
border-width: 1px;
padding: 10px;
}